<!DOCTYPE html>
<html>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<h1 class="text-center"> Prediction Model Data </h1>
	<div class="col-lg-12">
      <style>
        .form-signin {
          max-width: 550px;
          padding: 15px;
          margin: 0 auto;
        }    
      </style>


      <div class="container text-center">
          <form class="form-signin" id="login_form" method="post" action="/app/predict/" enctype="multipart/form-data">
          <!--<form class="form-signin" id="login_form" method="post" action="/app/model/" enctype="multipart/form-data">-->
            {% csrf_token %}

            <!--<br>
            <input type="text" name="user" class="form-control" placeholder="Github User Name, e.g: DrkSephy" value="" required autofocus>
            <br>-->
              <!--<input type="file" name="file" nv-file-select="" uploader="uploader" multiple  /><br/>-->

               <input type="file" name="fileUpload" />
                <!--<input type="submit" value="Upload" />-->
              <button class="btn btn-lg btn-primary btn-block" type="submit">Show Prediction Data</button>
          </form>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped tablesorter">
              <thead>
              <tr>
                <th class="header"> Candidate ID <i class="icon-sort"></i></th>
                <th class="header"> Employer <i class="icon-sort"></i></th>
                <!--<th class="header"> Moving <i class="icon-sort"></i></th>-->
                <th class="header"> Predicted <i class="icon-sort"></i></th>
                <!--<th class="header"> Email <i class="icon-sort"></i></th>
                <th class="header"> Followers <i class="icon-sort"></i></th>
                <th class="header"> Following <i class="icon-sort"></i></th>-->
              </tr>
          </thead>
          <tbody>
          
          {% for key in data %}
              <tr>
                  <td>{{ key.candidate_id }}</td>
                  <td>{{ key.Employer }}</td>
                  <!--<td>{{ key.Moving }}</td>-->
                  <td>{{ key.Predicted }}</td>
                  <!--<td>{{ key.email }}</td>
                  <td>{{ key.followers }}</td>
                  <td>{{ key.following }}</td>-->
              </tr>
          {% endfor %}
          
          </tbody>
          </table>
      </div>
    </div>
</body>
</html>